@import 'global/global.scss';
@import './variable.scss';

*{
    margin: 0;
    padding: 0;
}
.field{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: aqua;
    margin-top: 100px;
}

.exel{
    width: 50px;
    height: 50px;

}
.head{
    background-color: green;
}
.black{
    background-color: black;
}
.food{
    background-color: red;
}
.game-over{
    background: blue;
}